
body {
  background: #333;
  height: 100%;
}

.navbar {
  position: fixed;
  z-index: 2;
  background: rgb(72, 130, 127);
  top: 0;
  left: 0;
  width: 100%;
  color: #FFF;
}

.navbar h1 {
  padding: 5px;
  margin: 13px;
  font-size: 1.1em;
  text-transform: uppercase;
}

.navbar.minimize  h1{
  padding: 0 5px;
  margin: 10px 13px;
}

.panel {
  position: relative;
  z-index: 1;
}

#home {
  background: rgb(72, 130, 127);;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  color: #FFF;
}

#home .title {
  margin-top: 35vh;
  width: 100%;
  text-align: center;
}

#home h1 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.3em;
}

#home a {
  text-transform: uppercase;
  margin: 10px;
  display: inline-block;
  padding: 10px;
}

#about {
  background: #fff;
  margin-top: calc(100vh - 115px);
}

.portrait {
  height: 150px;
  background: #bbb;
  border: 5px solid #dedbd8;
  margin-top: -110px;
  position: absolute;
  left: 10%;
}

.content {
  color: #444;
  margin: 0 auto;
  padding: 30px 10%;
  text-align: right;
}

.content h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0 8px;
  font-size: 1.3em;
}

.content p {
  padding: 9px 0px;
  line-height: 1.2;
  font-weight: 300;
  font-size: 1.2em;
}

.tech p {
  font-size: 1em;
}

.content h3 {
  font-size: 1.5em;
  padding-bottom: 5px;
}

.content ul {
  text-align: center;
}

.content li {
  padding: 5px 5px;
  display: inline-block;
}

.contentdivider {
  display: none;
  background: #333;
  width: 1px;
}

.content hr {
  margin-top: 5vh;
}

.icon {
  height: 30px;
}

.content-tech {
  display: flex;
  flex-wrap: wrap;
}

.content-tech div {
  background-color: #336791;
  color: #ddd;
  padding: .3rem 1rem;
  border-radius: 2rem;
  font-size: .9rem;
  margin: 0 2px 2px 0;
}

#projects {
  background: #333;
}

#projects h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  padding: 50px 0 10px;
  color: #fff;
  font-size: 1.5em;
}

#projects a {
  color: #039be5;
  font-size: 1.4em;
}

.content-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-photos img {
  height: 250px;
  padding: 10px 10px 10px 0;
  max-width: 100%;
}

.projects-wrapper {
  padding: 5%;
  padding-bottom: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.project {
  padding: 10px 0;
}

.card {
  background: #dedbd8;
}

.card-reveal p {
  padding: 10px 0;
}

.project-links {
  justify-content: space-between;
  display: flex;
}

i.right {
  font-size: 1.6em;
}

.card .card-content {
  padding: 15px 20px 20px;
  border-radius: 0 0 2px 2px;
}

.card .card-title {
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
}


#contact {
  background: #795548;
  color: #fff;
  padding-bottom: 30px;
}

#contact a {
  color: #dedbd8;
}

#contact h1 {
  padding-top: 60px;
  text-align: center;
  margin-top: 0;
  font-size: 1.7em;
}

#contact hr {
  width: 100px;
  margin-bottom: 30px
}

.contactinfo {
  width: 100%;
  position: relative;
  text-align: center;
  max-width: 65em;
  overflow: hidden;
  margin: 40px auto 20px auto;
}

.contactinfo h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

.email {
  width: 100%;
  margin-bottom: 40px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 15px;
}

.email h3 {
  font-weight: 100;
  font-size: 1.2em;
  line-height: 1.2;
}

.social-media {
  width: 100%;
  margin-bottom: 30px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.social-media h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-media i {
  font-size: 3.3em;
  padding: 0 10px;
}

.sendmessage {
  padding: 0 10%;
  margin: 25px 0 30px 0;
  font-family: 'Lato', sans-serif;
}


.collapsible {
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
}

.collapsible-header {
  padding: 15px 40px;
  width: auto;
  text-align: center;
  cursor: pointer;
  display: block;
  min-height: 0rem;
  padding: 0 1rem;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  font-size: 1.2em;
  margin: auto;
  width: 240px;
  border: 1px solid;
  font-weight: 300;
}

.collapsible-body {
  border: 1px solid #ddd;
  margin-top: 10px;
  box-sizing: border-box;
}

textarea {
  height: 10vh;
}

.messagebutton {
  background: #dedbd8;
  color: #336791;
  margin: 15px 0 0;
  height: 30px;
  width: 80px;
}

.btn {
  padding: 0 1rem;
  background-color: rgb(72, 130, 127);
  margin: 15px 0 0;

}

.resume {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 40px;
}

#copyright h2 {
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-weight: 300;
}

.totop {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3em;
  margin: 5px;
  color: #dedbd8;
  cursor: pointer;
}

/////////////// Animations ///////////////////

.navbar {
  transition: 0.5s;
}





/////////////// @media querys  //////////////////

@media (min-width : 900px) {

  #home h1 {
    font-size: 1.3em;
  }

  #home a {
    font-size: 1.2em;
  }

  .portrait {
    height: 200px;
    margin-top: -150px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    padding: 50px 10% 50px;
  }

  .aboutme {
    width: 45%;
    padding-top: 60px;
  }

  .tech {
    width: 45%;
  }

  .tech p {
    font-size: 1.2em;
  }

  .content hr {
    display: none;
  }

  .contentdivider {
    display: block;
  }

  .aboutme h3 {
    font-size: 2em;
  }

  .aboutme p {
    font-size: 1.4em;
  }

  .tech h2 {
    text-align: left;
  }

  .tech ul {
    text-align: left;
  }

  .icon {
    height: 35px;
  }

  #projects h1 {
    font-size: 1.8em;
  }

  .projects-wrapper {
    padding: 5%;
    flex-direction: row;
  }

  .project {
    padding: 10px 1.5%;
  }

  .contactinfo {
    display: flex;
  }

  #contact hr {
    margin-bottom: 50px
  }

  #contact h1 {
    font-size: 1.8em;
  }

  .contactinfo h2 {
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 0.1em;
  }

  .social-media i {
    font-size: 3.5em;
  }

  .email h3 {
    font-size: 1.3em;
  }

  .sendmessage {
    padding: 0 25%;
  }

}
